h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main-color);
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.link:hover, .link:focus {
  color: var(--website-navigation-hover-color);
}

:root {
  --main-head-color: #ffffff;
  --website-navigation-base-color: #212121;
  --website-navigation-hover-color: #2196f3;
  --website-navigation-contacts-color: #757575;
  --logo-first-half-color: #2196f3;
  --logo-second-half-footer-color: #ffffff;
  --logo-second-half-header-color: #000000;
  --header-border-color: #ececec;
  --second-head-color: #212121;
  --text-main-color: #757575;
  --text-second-color: #ffffff;
  --text-additional-color: rgba(255, 255, 255, 0.6);
  --hero-button-text-color: #ffffff;
  --hero-button-backgrund-color: #2196f3;
  --secondary-buttons-base-color: #212121;
  --secondary-buttons-hover-color: #ffffff;
  --secondary-buttons-base-background-base-color: #f5f4fa;
  --secondary-buttons-base-background-hover-color: #2196f3;
  --button-box-radius: 4px;
  --hero-button-box-shadow: rgba(0, 0, 0, 0.15);
  --hero-background-color: #c4c4c4;
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --team-background-color: #f5f4fa;
  --clients-list-main: #afb1b8;
  --clients-list-hover: #2196f3;
  --footer-background-color: #2f303a;
  --portfolio-item-border-color: #eeeeee;
  --advantages-logo-background-color: #f5f4fa;
  --social-networks-icon-main-color: #afb1b8;
  --social-networks-icon-hover-color: #ffffff;
  --social-networks-icon-second-color: #ffffff;
  --main-background-color: #ffffff;
  --hero-overlay-gradient: rgba(47, 48, 58, 0.4);
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --portfolio-overlay-bacground: rgba(33, 150, 243, 0.9);
  --raw-item-number: 3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section {
  margin: 0 auto 0;
  padding: 60px 0 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0 94px;
  }
}

.container {
  padding: 0 15px 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  background: var(--hero-button-backgrund-color);
  box-shadow: 0px 4px 4px var(--hero-button-box-shadow);
  border: none;
  border-radius: var(--button-box-radius);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-button-text-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-background-color);
  z-index: 20;
  overflow-y: scroll;
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
}

.backdrop_is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: 0;
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 25;
  transition: transform 250ms var(--transition-timing), background 250ms var(--transition-timing);
}

.backdrop_is-hidden .modal-window {
  transform: translate(-250%, -200%) scale(0) rotate(-180deg);
  background: black;
  transition: transform 250ms var(--transition-timing), background 250ms var(--transition-timing);
}

@media screen and (min-width: 1200px) {
  .modal-window {
    max-width: 528px;
  }
}

@media screen and (max-height: 580.5px) {
  .modal-window {
    top: 5%;
    transform: translate(-50%, 0);
  }
  .backdrop_is-hidden .modal-window {
    transform: translate(-250%, -50%) scale(0) rotate(-180deg);
  }
}

.modal-window__button-close {
  position: absolute;
  border: none;
  background: none;
  right: 8px;
  top: 8px;
  padding: 0;
  cursor: pointer;
}

.modal-window__close__body {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window__close__icon,
.modal-form-user-contact-icon {
  transition: fill 250ms var(--transition-timing);
}

.modal-window__button-close:focus .modal-window__close__icon,
.modal-window__button-close:hover .modal-window__close__icon {
  fill: var(--website-navigation-hover-color);
}

.button__modal-send {
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: filter 250ms var(--transition-timing);
}

.button__modal-send:hover, .button__modal-send:focus {
  filter: none;
}

.section-head {
  margin-bottom: 3 0px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-head-color);
}

@media screen and (min-width: 1200px) {
  .section-head {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.grid-item {
  flex-basis: calc( (100% - ((var(--raw-item-number)) - 1) * 30px) / (var(--raw-item-number)));
  margin-bottom: 30px;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-first-half-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923;
  }
}

.buttons-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .buttons-bar {
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-bar {
    margin-bottom: 50px;
  }
}

.buttons-bar__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.5px) {
  .buttons-bar__item {
    margin-bottom: 15px;
  }
}

.buttons-bar-button {
  padding: 6px 22px;
  background-color: var(--secondary-buttons-base-background-base-color);
  border: none;
  border-radius: var(--button-box-radius);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-buttons-base-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.buttons-bar-button:hover, .buttons-bar-button:focus {
  background-color: var(--secondary-buttons-base-background-hover-color);
  color: var(--secondary-buttons-hover-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form {
  padding: 40px;
}

.form__group-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 330px) {
  .form__group-head {
    font-size: 20px;
  }
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.form__user-contact-overlay {
  position: relative;
  margin-bottom: 10px;
}

.form__user-contacts {
  display: block;
  top: 0;
  left: 0;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: #000000;
  outline: none;
  transition: border-color 250ms var(--transition-timing);
}

.form__user-contacts:focus, .form__user-contacts:active {
  border-color: var(--website-navigation-hover-color);
}

@media screen and (min-width: 480px) {
  .form__user-contacts {
    font-size: 16px;
  }
}

.form__user-contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0%, -50%);
  transition: fill 250ms var(--transition-timing);
}

.form__user-contacts:focus + .form__user-contact-icon,
.form__user-contacts:active + .form__user-contact-icon {
  fill: var(--website-navigation-hover-color);
}

.form__user-comment {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--transition-timing);
}

.form__user-comment:focus, .form__user-comment:active {
  border-color: var(--website-navigation-hover-color);
}

.form__user-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-label {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  white-space: nowrap;
  text-align: left;
  color: #757575;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .form__checkbox-label {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 8px;
  }
}

.form__terms-link {
  color: var(--website-navigation-hover-color);
}

.custom-checkbox {
  display: block;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin: auto 0 auto auto;
  transition: border-color 250ms var(--transition-timing);
}

.custom-checkbox__mark {
  fill: var(--text-second-color);
  position: absolute;
  top: 2px;
  left: 1px;
}

.native-checkbox:focus + .custom-checkbox,
.native-checkbox:active + .custom-checkbox {
  border-color: var(--website-navigation-hover-color);
}

.native-checkbox:checked + .custom-checkbox {
  border-color: var(--website-navigation-hover-color);
  background-color: var(--website-navigation-hover-color);
}

.social-networks-list {
  display: flex;
  /* padding: 0 32px; */
  justify-content: space-between;
  width: 206px;
}

.social-networks-list__field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-networks-icon-main-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.social-networks-list__link:hover .social-networks-list__field,
.social-networks-list__link:focus .social-networks-list__field {
  background-color: var(--website-navigation-hover-color);
  fill: var(--social-networks-icon-hover-color);
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__container {
    align-items: center;
  }
}

.logo__header-margin {
  padding: 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .logo__header-margin {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__header-margin {
    margin-right: 93px;
  }
}

.logo__header-color {
  color: var(--logo-second-half-header-color);
}

.mobile-header__menu-button-open {
  display: flex;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .mobile-header__menu-button-open {
    display: none;
  }
}

.mobile-header__menu-button-close {
  position: absolute;
  display: flex;
  padding: 0;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .mobile-header__menu-button-close {
    display: none;
  }
}

.mobile-header__menu-button-close:hover svg,
.mobile-header__menu-button-open:hover svg,
.mobile-header__menu-button-close:focus svg,
.mobile-header__menu-button-open:focus svg {
  fill: var(--website-navigation-hover-color);
}

.mobile-header-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  overflow-y: scroll;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--transition-timing);
}

@media screen and (min-width: 768px) {
  .mobile-header-menu {
    display: none;
  }
}

.mobile-header-menu.is-open {
  transform: translateX(0);
}

.header__menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
}

@media screen and (max-width: 767.5px) {
  .header__menu {
    display: none;
  }
}

.website-navigation {
  display: flex;
}

.mobile-header-contacts {
  margin-top: auto;
}

.header-contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
  }
}

.mobile-header__social-list {
  margin-top: 64px;
  display: flex;
}

.mobile-header__social-link {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--website-navigation-hover-color);
}

@media screen and (min-width: 350px) {
  .mobile-header__social-link {
    font-size: 15px;
  }
}

@media screen and (min-width: 400px) {
  .mobile-header__social-link {
    font-size: 18px;
  }
}

.mobile-header__social-link:not(:last-child) {
  margin-right: 5px;
}

@media screen and (min-width: 420px) {
  .mobile-header__social-link:not(:last-child) {
    margin-right: 10px;
  }
}

.mobile-header__social-link:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 5px;
}

@media screen and (min-width: 420px) {
  .mobile-header__social-link:not(:last-child)::after {
    margin-left: 10px;
  }
}

.mobile-website-navigation__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--website-navigation-base-color);
}

.website-navigation__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  color: var(--website-navigation-contacts-color);
}

.website-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.mobile-header-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--website-navigation-contacts-color);
}

.header-contacts__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--website-navigation-contacts-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__item {
    font-size: 14px;
    line-height: 1.1429;
  }
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.mobile-website-navigation__link,
.mobile-header-contacts__link {
  display: flex;
  align-items: center;
  padding: 16px 0 16px;
  flex-wrap: wrap;
}

.website-navigation__link,
.header-contacts__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-contacts__link {
  padding: 5px 0;
}

.website-navigation__link {
  padding: 32px 0;
}

.mobile-header-contacts__link--phone {
  font-size: 27px;
  color: var(--website-navigation-hover-color);
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 377px) {
  .mobile-header-contacts__link--phone {
    font-size: 34px;
  }
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.mobile-website-navigation__link-current {
  color: var(--website-navigation-hover-color);
  position: relative;
}

.mobile-ebsite-navigation__link-current {
  color: var(--website-navigation-hover-color);
}

.website-navigation__link-current {
  color: var(--website-navigation-hover-color);
  position: relative;
}

.website-navigation__link-current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--website-navigation-hover-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: rotate(0deg);
  transform-origin: bottom left;
  animation-name: bottomlineappear;
  animation-duration: 250ms;
  animation-timing-function: var(--transition-timing);
  animation-fill-mode: forwards;
}

@keyframes bottomlineappear {
  0% {
    transform: scale(0.1) rotate(-90deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.hero {
  max-width: 1600px;
  background-color: var(--hero-background-color);
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}

.section__hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .section__hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__head {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-head-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__head {
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
  }
}

.button__hero {
  margin: 0 auto;
}

.advantages {
  --raw-item-number: 1;
}

@media screen and (min-width: 768px) {
  .advantages {
    --raw-item-number: 2;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    --raw-item-number: 4;
  }
}

.advantages__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--advantages-logo-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__head {
  text-align: center;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-head-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .advantages__head {
    text-align: left;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section_what-we-do {
  padding-top: 0;
}

@media screen and (max-width: 1199.5px) {
  .section_what-we-do {
    display: none;
  }
}

.what-we-do__grid-item {
  position: relative;
  z-index: 5;
}

.what-we-do__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 27px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-second-color);
  z-index: 10;
}

.team {
  background: var(--team-background-color);
  --raw-item-number: 1;
}

@media screen and (min-width: 768px) {
  .team {
    --raw-item-number: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    --raw-item-number: 4;
  }
}

.team__grid-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
}

.team__text {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-head-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-networks-list__team {
  margin: 0 auto;
}

.clients {
  --raw-item-number: 2;
}

@media screen and (min-width: 768px) {
  .clients {
    --raw-item-number: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    --raw-item-number: 6;
  }
}

.clients__link {
  display: flex;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clients-list-main);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--clients-list-hover);
}

.clients__logo {
  fill: var(--clients-list-main);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.clients__link:focus > .clients__logo,
.clients__link:hover > .clients__logo {
  fill: var(--clients-list-hover);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__first-sub-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer__first-sub-container {
    padding-left: 76px;
    padding-right: 89px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address-and-logo {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199.5px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

.social-networks-list--footer {
  display: flex;
  width: 206px;
  justify-content: space-between;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.social-networks-list__field--footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--social-networks-icon-second-color);
}

.footer__social--head,
.footer__subscribe--head {
  margin-bottom: 20px;
  color: var(--text-second-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.5px) {
  .footer__social--head,
  .footer__subscribe--head {
    text-align: center;
  }
}

.logo__footer-margin {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.5px) {
  .logo__footer-margin {
    text-align: center;
  }
}

.logo__footer-color {
  color: var(--logo-second-half-footer-color);
}

@media screen and (max-width: 1199.5px) {
  .footer__address {
    text-align: center;
  }
}

.footer__address li:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__address li:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__address {
  font-style: inherit;
}

@media screen and (max-width: 1199.5px) {
  .footer__address {
    margin-bottom: 60px;
  }
}

.footer__address--geographical,
.footer__address--contact {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
}

.footer__address--contact {
  color: var(--text-additional-color);
}

.footer__subscribe {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe--bottom-part {
    display: flex;
  }
}

.footer__subscribe--email-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  color: white;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border 250ms var(--transition-timing), filter 250ms var(--transition-timing);
}

.footer__subscribe--email-input:active, .footer__subscribe--email-input:focus {
  border: 1px solid #2196f3;
  filter: none;
  transition: border 250ms var(--transition-timing), filter 250ms var(--transition-timing);
}

.footer__subscribe--email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer__subscribe--email-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe--email-input {
    width: 358px;
  }
}

@media screen and (max-width: 1199.5px) {
  .footer__subscribe--email-input {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199.5px) {
  .button__footer-subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .button__footer-subscribe {
    margin-left: 12px;
  }
}

.button__footer-subscribe-icon {
  margin-left: 10px;
  fill: var(--text-second-color);
}

.portfolio {
  --raw-item-number: 1;
}

@media screen and (min-width: 768px) {
  .portfolio {
    --raw-item-number: 2;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    --raw-item-number: 3;
  }
}

.portfolio__list-link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  display: block;
}

.portfolio__list-link:hover, .portfolio__list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  outline: none;
}

.portfolio__item-image {
  position: relative;
  overflow: hidden;
}

.portfolio__item-image-overlay {
  position: absolute;
  top: 0;
  left: 0%;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-overlay-bacground);
  color: var(--text-second-color);
  transform: translateY(calc(101%));
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.portfolio__list-link:hover .portfolio__item-image-overlay,
.portfolio__list-link:focus .portfolio__item-image-overlay {
  transform: translateY(0);
}

.portfolio__text {
  padding: 20px 24px;
  border-left: 1px var(--portfolio-item-border-color) solid;
  border-right: 1px var(--portfolio-item-border-color) solid;
  border-bottom: 1px var(--portfolio-item-border-color) solid;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .grid-item--crack {
    padding-bottom: 56px;
  }
}

.portfolio__item-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-head-color);
}

.portfolio__item-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.portfolio__list-link:hover .portfolio__item-text,
.portfolio__list-link:focus .portfolio__item-text {
  color: var(--text-main-color);
}
/*# sourceMappingURL=main.css.map */