:root {
    --main-head-color: #ffffff;
    --website-navigation-base-color: #212121;
    --website-navigation-hover-color: #2196f3;
    --website-navigation-contacts-color: #757575;
    --logo-first-half-color: #2196f3;
    --logo-second-half-footer-color: #ffffff;
    --logo-second-half-header-color: #000000;
    --header-border-color: #ececec;
    --second-head-color: #212121;
    --text-main-color: #757575;
    --text-second-color: #ffffff;
    --text-additional-color: rgba(255, 255, 255, 0.6);
    --hero-button-text-color: #ffffff;
    --hero-button-backgrund-color: #2196f3;
    --secondary-buttons-base-color: #212121;
    --secondary-buttons-hover-color: #ffffff;
    --secondary-buttons-base-background-base-color: #f5f4fa;
    --secondary-buttons-base-background-hover-color: #2196f3;
    --button-box-radius: 4px;
    --hero-button-box-shadow: rgba(0, 0, 0, 0.15);
    --hero-background-color: #c4c4c4;
    --backdrop-background-color: rgba(0, 0, 0, 0.2);
    --team-background-color: #f5f4fa;
    --clients-list-main: #afb1b8;
    --clients-list-hover: #2196f3;
    --footer-background-color: #2f303a;
    --portfolio-item-border-color: #eeeeee;
    --advantages-logo-background-color: #f5f4fa;
    --social-networks-icon-main-color: #afb1b8;
    --social-networks-icon-hover-color: #ffffff;
    --social-networks-icon-second-color: #ffffff;
    --main-background-color: #ffffff;
    --hero-overlay-gradient: rgba(47, 48, 58, 0.4);
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --portfolio-overlay-bacground: rgba(33, 150, 243, 0.9);
    --raw-item-number: 3;
}