.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo__header-margin {
  padding: 16px 0 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__header-color {
  color: var(--logo-second-half-header-color);
}

.mobile-header__menu-button-open {
  display: flex;
  padding: 0;
  border: none;
  background: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-header__menu-button-close {
  position: absolute;
  display: flex;
  padding: 0;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-header__menu-button-close:hover,
.mobile-header__menu-button-open:hover,
.mobile-header__menu-button-close:focus,
.mobile-header__menu-button-open:focus {
  & svg {
    fill: var(--website-navigation-hover-color);
  }
}

.mobile-header-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  overflow-y: scroll;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--transition-timing);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-header-menu.is-open {
  transform: translateX(0);
}

.mobile-header-contacts {
  margin-top: auto;
}

.mobile-header__social-list {
  margin-top: 64px;
  display: flex;
}

.mobile-header__social-link {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--website-navigation-hover-color);
  @media screen and (min-width: 350px) {
    font-size: 15px;
  }

  @media screen and (min-width: 400px) {
    font-size: 18px;
  }

  &:not(:last-child) {
    margin-right: 5px;
    @media screen and (min-width: 420px) {
      margin-right: 10px;
    }
  }
  &:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 22px;
    background: rgba(33, 33, 33, 0.2);
    margin-left: 5px;
    @media screen and (min-width: 420px) {
      margin-left: 10px;
    }
  }
}

.mobile-website-navigation__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--website-navigation-base-color);
}

.mobile-header-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  color: var(--website-navigation-contacts-color);
}

.mobile-website-navigation__link,
.mobile-header-contacts__link {
  display: flex;
  align-items: center;
  padding: 16px 0 16px;
  flex-wrap: wrap;
}

.mobile-header-contacts__link--phone {
  font-size: 27px;
  color: var(--website-navigation-hover-color);
  line-height: 1.18;
  letter-spacing: 0.02em;

  @media screen and (min-width: 377px) {
    font-size: 34px;
  }
}

.mobile-website-navigation__link-current {
  color: var(--website-navigation-hover-color);
  position: relative;
}

.mobile-ebsite-navigation__link-current {
  color: var(--website-navigation-hover-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  @media screen and (max-width: 767.5px) {
    display: none;
  }
}

.website-navigation {
  display: flex;
}

.header-contacts {
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.website-navigation__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  color: var(--website-navigation-base-color);
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  color: var(--website-navigation-contacts-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.1429;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.website-navigation__link,
.header-contacts__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-contacts__link {
  padding: 5px 0;
}

.website-navigation__link {
  padding: 32px 0;
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.website-navigation__link-current {
  color: var(--website-navigation-hover-color);
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background: var(--website-navigation-hover-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: rotate(0deg);
    transform-origin: bottom left;
    animation-name: bottomlineappear;
    animation-duration: 250ms;
    animation-timing-function: var(--transition-timing);
    animation-fill-mode: forwards;
  }
}

@keyframes bottomlineappear {
  0% {
    transform: scale(0.1) rotate(-90deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}
