  
  .portfolio__list-link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing);
    display: block;
      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        outline: none;
    }
  }
  
  .portfolio__item-image {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio__item-image-overlay {
    position: absolute;
    top: 0;
    left: 0%;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: var(--portfolio-overlay-bacground);
    color: var(--text-second-color);
    transform: translateY(calc(101%));
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing);
      .portfolio__list-link:hover &,
      .portfolio__list-link:focus & {
        transform: translateY(0);
      }
  }
  
  .portfolio__text {
    padding: 20px 24px;
    border-left: 1px var(--portfolio-item-border-color) solid;
    border-right: 1px var(--portfolio-item-border-color) solid;
    border-bottom: 1px var(--portfolio-item-border-color) solid;
  }
  
  .portfolio__item-name {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-head-color);
  }
  
  .portfolio__item-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
      .portfolio__list-link:hover &,
      .portfolio__list-link:focus & {
         color: var(--text-main-color);
    }
  }
  