
  .custom-checkbox {
    display: block;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #212121;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin: auto 0 auto auto;
    transition: border-color 250ms var(--transition-timing);
  }
  
  .custom-checkbox__mark {
    fill: var(--text-second-color);
    position: absolute;
    top: 2px;
    left: 1px;
  }
  
  .native-checkbox:focus + .custom-checkbox,
  .native-checkbox:active + .custom-checkbox {
    border-color: var(--website-navigation-hover-color);
  }
  
  .native-checkbox:checked + .custom-checkbox {
    border-color: var(--website-navigation-hover-color);
    background-color: var(--website-navigation-hover-color);
  }
 
